@import "../../settings";
@import "../../layouts/nav";
@import "../../layouts/footer";
@import "../../components/buttons";

@media screen and (max-width: 320px) {
  nav {
    overflow: hidden;
  }
}
@media screen and (max-width: 568px) {
  nav {
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  nav {
    overflow: hidden;
  }
}
.container {
  img {
    width: 95%;
    height: 96%;
  }

  .blog {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-areas: "i1 t1";
    margin-bottom: 20px;
    .blog-text {
      grid-area: t1;
      margin-top: 5.8rem;
      width: 90%;
    }
    .image {
      grid-area: i1;
      margin-left: 0;
    }
  }
  .manager {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-areas: "t2 i2";
    margin-bottom: 20px;
    margin: 0;
    .manager-text {
      grid-area: t2;
      margin-top: 5.8rem;
      width: 90%;
    }
    .manager-image {
      grid-area: i2;
      margin-left: 0;
    }
  }
  .ceo {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-areas: "i3 t3";
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    .ceo-text {
      grid-area: t3;
      margin-top: 9rem;
      width: 90%;
    }
    .ceo-image {
      grid-area: i3;
      width: 97.8%;
    }
  }
  .founder {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-areas: "t4 i4";
    margin: 0;
    margin-bottom: 20px;
    .founder-text {
      margin-top: 9.4rem;
      width: 90%;
      grid-area: t4;
    }
    .founder-image {
      grid-area: i4;
      height: 450px;
      margin-left: 0rem;
    }
  }
  .lise {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-areas: "i5 t5";
    margin: 0;
    margin-bottom: 20px;
    .lise-text {
      grid-area: t5;
      margin-top: 12rem;
      width: 90%;
    }
    .lise-image {
      grid-area: i5;
      width: 97.8%;
    }
  }
  .person-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6rem;
    margin-bottom: 5rem;
    .person {
      width: 100%;
      margin-left: 4rem;
      .person-image {
        width: 50%;
      }
      .person-text {
        width: 50%;
        text-align: center;
        font-size: 0.8rem;
        line-height: 1.3rem;
        h4 {
          margin-bottom: 15px;
        }
      }
    }
  }
  div {
    margin-left: 2rem;
    text-align: left;
    font-family: Arial;
    @media screen and (max-width: 320px) {
      margin: 0;
      margin-left: 1rem;
      margin-bottom: 1rem;
      text-align: center;
    }
    @media screen and (max-width: 568px) {
      margin: 0;
      margin-left: 1rem;
      margin-bottom: 1rem;
      text-align: center;
    }
    @media screen and (max-width: 768px) {
      margin: 0;
      margin-bottom: 1rem;
      margin-top: 1rem;
      text-align: center;
    }
  }
  p {
    color: grey;
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.8rem;
    @media screen and (max-width: 320px) {
      margin: 0;
      margin-top: 20px;
      width: 80%;
      font-size: 0.9rem;
    }
    @media screen and (max-width: 568px) {
      margin: 0;
      margin-top: 20px;
      width: 60%;
      font-size: 0.9rem;
    }
    @media screen and (max-width: 768px) {
      margin: 0;
      margin-top: 20px;
      width: 42%;
      font-size: 0.9rem;
      margin-left: 13.9rem;
    }
  }
  span {
    font-size: 1.3rem;
    @media screen and (max-width: 320px) {
      margin: 0;
      font-size: 1rem;
      text-align: center;
    }
    @media screen and (max-width: 568px) {
      margin: 0;
      font-size: 1rem;
      text-align: center;
    }
    @media screen and (max-width: 768px) {
      margin: 0;
      font-size: 1.2rem;
      text-align: center;
    }
  }
}
