@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: Verdana, Arial;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 15vh;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  nav .nav-list li {
    margin-left: 5px;
    font-size: 0.8rem;
    text-align: center;
  }
  nav h2 {
    font-size: 1.2rem;
  }
}
nav .nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
nav .nav-list ul li {
  margin-left: 20px;
}
nav .nav-list ul li:first-child {
  color: blue;
}
nav .nav-list ul li a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-weight: bold;
  color: blue;
}
nav h2 {
  font-weight: bold;
  font-family: "allura";
}
nav i {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -200px;
}
@media screen and (max-width: 768px) {
  nav #cont {
    display: none;
  }
}

footer {
  height: 465px;
  width: 95%;
  background-color: rgb(245, 245, 245);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}
footer h2 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
footer p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  line-height: 30px;
  text-align: center;
}
footer .partner {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
footer .partner h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
footer .partner .img-foot img {
  margin-right: 15px;
  width: 80px;
  height: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer .partner .img-foot img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

button {
  padding: 15px;
  text-transform: uppercase;
  color: white;
  background-color: rgb(4, 55, 242);
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
@media screen and (max-width: 768px) {
  button {
    font-size: 0.5rem;
    padding: 10px;
  }
}

@media screen and (max-width: 320px) {
  nav {
    overflow: hidden;
  }
}
@media screen and (max-width: 568px) {
  nav {
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  nav {
    overflow: hidden;
  }
}
body {
  background-color: whitesmoke;
}

.container img {
  margin-left: 2rem;
  width: 95%;
}
@media screen and (max-width: 320px) {
  .container img {
    margin: 0;
    width: 75%;
  }
}
@media screen and (max-width: 568px) {
  .container img {
    width: 58%;
    margin-left: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .container img {
    width: 92%;
  }
}
.container div {
  margin: 5rem 10rem 5rem 15rem;
  text-align: left;
  font-family: Arial;
}
@media screen and (max-width: 320px) {
  .container div {
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}
@media screen and (max-width: 568px) {
  .container div {
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .container div {
    margin: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
  }
}
.container div p {
  color: grey;
  margin-top: 20px;
  font-size: 1rem;
  line-height: 1.8rem;
}
@media screen and (max-width: 320px) {
  .container div p {
    margin: 0;
    margin-top: 20px;
    width: 80%;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 568px) {
  .container div p {
    margin: 0;
    margin-top: 20px;
    width: 60%;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  .container div p {
    margin: 0;
    margin-top: 20px;
    width: 42%;
    font-size: 0.9rem;
    margin-left: 13.9rem;
  }
}
.container span {
  font-size: 1.9rem;
}
@media screen and (max-width: 320px) {
  .container span {
    margin: 0;
    font-size: 1rem;
    text-align: center;
  }
}
@media screen and (max-width: 568px) {
  .container span {
    margin: 0;
    font-size: 1rem;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .container span {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
  }
}/*# sourceMappingURL=about_us.css.map */