@import "../../settings";
@import "../../layouts/nav";
@import "../../layouts/header";
@import "../../layouts/footer";
@import "../../components/buttons";

@include headerContainerFormat;

.header-container {
  background: url(../../../images/manager1.jpg) center/cover no-repeat;
}

.partners-intro {
  text-align: center;
  margin: 5rem 0;

  h4 {
    padding-bottom: 0.8rem;
    font-weight: 200;
    color: rgb(122, 122, 125);
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 200;
  }
}

.partners {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
  row-gap: 4rem;
  margin: 0 auto;
}

.partner {
  .partner-image {
    height: 150px;

    img {
      height: 100%;
      width: 100%;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .partner-footer {
    margin: 1rem 0;
    text-align: center;

    h2 {
      color: rgb(122, 122, 125);
      margin: 1rem 0;
      font-size: 1.2rem;
      font-weight: 100;
    }
  }
}
