@import "../../settings";
@import "../../layouts/nav";
@import "../../layouts/header";
@import "../../components/buttons";
@import "../../layouts/footer";

.head {
  background: url(../../../images/focal-point.jpg) center/cover;
<<<<<<< HEAD
  height: 480px;
=======
  height: 100vh;
>>>>>>> 766b9b6548ad0c5f96d2d95f61889ad479e6c367
  width: 95%;
  margin: 0 auto;
}

.but_head {
  p {
    text-align: center;
    margin: 50px auto 0 auto;
    width: 95%;
<<<<<<< HEAD
    min-height: 150px;
    font-size: 1.5rem;
    line-height: 2rem;
=======
    min-height: 200px;
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 2.5rem;
>>>>>>> 766b9b6548ad0c5f96d2d95f61889ad479e6c367
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.paragraphe {
  width: 95%;
<<<<<<< HEAD
  margin: 50px auto 50px auto;
  
=======
  margin: 50px auto 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 400px;
>>>>>>> 766b9b6548ad0c5f96d2d95f61889ad479e6c367
  p {
    width: 85%;
    text-align: center;
    margin: 30px auto 0;
    line-height: 1.5rem;
  }
}

.services {
<<<<<<< HEAD
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 95%;
  margin: 0 auto;
  .impro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
=======
  width: 95%;
  margin: 0 auto;
>>>>>>> 766b9b6548ad0c5f96d2d95f61889ad479e6c367
  h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    margin-top: 50px;
    text-transform: uppercase;
    word-spacing: 3px;
  }
  h3 {
<<<<<<< HEAD
    text-align: center;
    font-size: 1.5rem;
    margin-top: 15px;
    width: 80%;
  }
  .sercivecadre {
    width: 70%;
    margin: 0 auto 30px auto;
=======
    //display: flex;
    //align-items: center;
    //justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 12rem;
    width: 70%;
  }
  .sercivecadre {
    margin-bottom: 30px;
>>>>>>> 766b9b6548ad0c5f96d2d95f61889ad479e6c367
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "z1 z2 z3"
      "z4 z5 z6";
    .support {
      grid-area: z1;
<<<<<<< HEAD
      margin: 10px 50px 0 0;
    }
    .stategy {
      grid-area: z2;
      margin: 10px 10px 0 10px;
    }
    .Management {
      grid-area: z3;
      margin: 10px 0 0 50px;
    }
    .Training {
      grid-area: z4;
      margin: 0 50px 10px 0;
    }
    .Consulting {
      grid-area: z5;
      margin: 0 10px 10px 10px;
    }
    .Events {
      grid-area: z6;
      margin: 0 0 10px 50px;
=======
      margin: 10px;
    }
    .stategy {
      grid-area: z2;
      margin: 10px;
    }
    .Management {
      grid-area: z3;
      margin: 10px 0 10px 10px;
    }
    .Training {
      grid-area: z4;
      margin: 10px;
    }
    .Consulting {
      grid-area: z5;
      margin: 10px;
    }
    .Events {
      grid-area: z6;
      margin: 10px 0 10px 10px;
>>>>>>> 766b9b6548ad0c5f96d2d95f61889ad479e6c367
    }

    img {
      height: 100px;
<<<<<<< HEAD
      width: 100%;
=======
      width: 150px;
>>>>>>> 766b9b6548ad0c5f96d2d95f61889ad479e6c367
      margin-top: 50px;
    }
    h2 {
      margin-top: 15px;
    }
    p {
      text-align: left;
      margin-top: 20px;
<<<<<<< HEAD
      width: 100%;
=======
      width: 80%;
>>>>>>> 766b9b6548ad0c5f96d2d95f61889ad479e6c367
    }
  }
}
