@font-face {
  font-family: "allura";
  src: url("../fonts/Allura/Allura-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: Verdana, Arial;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  nav {
    overflow: hidden;
  }
}
nav h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

nav {
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 95%;

  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
  margin: 0 auto;
}
nav .nav-list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  margin: 30px;
}
@media screen and (max-width: 768px) {
  nav .nav-list ul {
    margin: 10px;
  }
}
nav .nav-list ul li {
  padding: 20px;
  height: 100%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  nav .nav-list ul li {
    padding: 10px;
  }
}

nav .nav-list ul li a:hover {
  transition: 0.3s;

nav .nav-list ul li:hover {
  border-bottom: 3px solid blue;

  cursor: pointer;
}
nav .nav-list ul li a {
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
}
@media screen and (max-width: 768px) {
  nav .nav-list ul li a {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 668px) {
  nav .nav-list ul li a {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 320px) {
  nav .nav-list ul li a {
    font-size: 0.6rem;
  }
}
nav .nav-list ul li a:hover {
  color: blue;
}
nav h2 {
  font-weight: bold;
  font-family: "allura";
}
@media screen and (max-width: 768px) {
  nav h2 {
    font-size: 1rem;
  }
}
nav i {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -200px;
}
@media screen and (max-width: 768px) {
  nav #cont {
    display: none;
  }
}
nav #donate {
  position: fixed;
  top: -100px;
  right: 100px;
}

footer {
  height: 465px;
  width: 95%;
  background-color: rgb(245, 245, 245);
  margin: 0 auto;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;

}
footer h2 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  footer h2 {
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
}
footer p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  line-height: 30px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  footer p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
footer .partner {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  footer .partner {
    display: grid;
    grid-template-columns: 20% 80%;
  }
}
@media screen and (max-width: 568px) {
  footer .partner {
    display: grid;
    grid-template-columns: 30% 70%;
  }
}
footer .partner h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  footer .partner .img-foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (max-width: 568px) {
  footer .partner .img-foot {
    display: grid;
    gap: 10px;
  }
}
footer .partner .img-foot img {
  margin-right: 15px;
  width: 80px;
  height: 80px;
  transition: 0.3s;
}
@media screen and (max-width: 568px) {
  footer .partner .img-foot img {
    width: 50px;
    height: 50px;
  }
}
footer .partner .img-foot img:hover {

  transform: scale(1.5);

  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  footer .partner .img-foot img:hover {
    width: 40px;
    height: 40px;
  }
}
footer .copyright {
  background: rgb(245, 245, 245);
  color: black;
  width: 100%;
  text-align: center;
}
footer .copyright .footer-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.5rem;
  width: 20%;
  margin: 10px auto;
  padding: 5px;
  background: rgb(204, 202, 201);
  border-radius: 1rem;
}
@media screen and (max-width: 768px) {
  footer .copyright .footer-logos {
    font-size: 1rem;
  }
}
@media screen and (max-width: 568px) {
  footer .copyright .footer-logos {
    font-size: 1rem;
    width: 40%;
  }
}
footer .copyright .footer-logos i:hover {
  color: rgb(4, 55, 242);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
footer .copyright .copyright-text {
  background: rgb(204, 202, 201);
  padding: 5px;
}
@media screen and (max-width: 568px) {
  footer .copyright .copyright-text {
    font-size: 0.8rem;
  }
}

button {
  padding: 15px;
  text-transform: uppercase;
  color: white;
  background-color: rgb(4, 55, 242);
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  transform: scale(0.9);
}
@media screen and (max-width: 768px) {
  button {
    font-size: 0.5rem;
    padding: 10px;
  }
}

@media screen and (max-width: 728px) {
  nav {
    overflow: hidden;
  }
}
.header-container {
  width: 95%;
  background: url(../../../images/focal-point.jpg) center/cover no-repeat;
  background-position: 35% 80%;
  min-height: 250px;
  height: 400px;
  max-height: 500px;
  margin: 0 auto;

  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Verdana;
}
@media screen and (max-width: 320px) {
  .header-container {
    min-height: 300px;
    height: 450px;
    max-height: 500px;
  }
}
@media screen and (max-width: 728px) {
  .header-container {
    min-height: 300px;
    height: 350px;
    max-height: 500px;
  }
}

.header-content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.header-content h1 {
  text-transform: uppercase;
  font-size: 5rem;
  word-spacing: 5px;
  text-align: center;
  color: white;
}
@media screen and (max-width: 768px) {
  .header-content h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 568px) {
  .header-content h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 320px) {
  .header-content h1 {
    font-size: 1.8rem;
  }
}
.header-content p {
  margin: 50px 0;
  color: rgb(248, 239, 239);
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .header-content p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 568px) {
  .header-content p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  .header-content p {
    font-size: 1.3rem;
  }
}

.header-content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.header-content h1 {
  text-transform: uppercase;
  font-size: 5rem;
  word-spacing: 5px;
  text-align: center;
  color: white;
}
@media screen and (max-width: 768px) {
  .header-content h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 568px) {
  .header-content h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 320px) {
  .header-content h1 {
    font-size: 1.8rem;
  }
}
.header-content p {
  margin: 50px 0;
  color: rgb(248, 239, 239);
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .header-content p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 568px) {
  .header-content p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  .header-content p {
    font-size: 1.3rem;
  }
}

.project-container {
  width: 80%;
  margin: 3rem auto;
  line-height: 2rem;
  font-size: 20px;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .project-container {
    width: 90%;
  }
}
.project-container .projects-intro {
  text-align: center;
  line-height: 50px;
}
.project-container .projects-intro h4 {
  padding-bottom: 0.8rem;
  font-weight: 200;
  color: rgb(122, 122, 125);
  text-transform: uppercase;
  font-size: 0.9rem;
}
.project-container .projects-intro h2 {
  font-size: 2.5rem;
  font-weight: 200;
}
@media screen and (max-width: 768px) {
  .project-container .projects-intro h2 {
    font-size: 2rem;
    line-height: 35px;
  }
}
@media screen and (max-width: 320px) {
  .project-container .projects-intro h2 {
    font-size: 1.5rem;
  }
}
.project-container .project-main {
  padding: 0 50px;
}
@media screen and (max-width: 568px) {
  .project-container .project-main {
    padding: 0 20px;
  }
}
@media screen and (max-width: 320px) {
  .project-container .project-main {
    font-size: 1rem;
    padding: 0 5px;
  }
}
.project-container .project-main .introduction,
.project-container .project-main .goals,
.project-container .project-main .governance,
.project-container .project-main .objectives {
  margin-bottom: 40px;
}
.project-container .project-main .introduction h2,
.project-container .project-main .goals h2,
.project-container .project-main .governance h2,
.project-container .project-main .objectives h2 {
  color: rgb(7, 7, 6);
  padding: 15px 0;
}
.project-container .project-main .introduction p,
.project-container .project-main .goals p,
.project-container .project-main .governance p,
.project-container .project-main .objectives p {
  color: rgb(122, 122, 125);
  padding-left: 30px;
}
.project-container .project-main .introduction ol,
.project-container .project-main .goals ol,
.project-container .project-main .governance ol,
.project-container .project-main .objectives ol {
  line-height: 40px;
}
.project-container .project-main .introduction ol li,
.project-container .project-main .goals ol li,
.project-container .project-main .governance ol li,
.project-container .project-main .objectives ol li {
  list-style: circle;
  margin: 10px 0 10px 50px;
}
.project-container .project-main .introduction ol ol li,
.project-container .project-main .goals ol ol li,
.project-container .project-main .governance ol ol li,
.project-container .project-main .objectives ol ol li {
  list-style: disc;
}
.project-container .project-main .introduction ol ol ol li,
.project-container .project-main .goals ol ol ol li,
.project-container .project-main .governance ol ol ol li,
.project-container .project-main .objectives ol ol ol li {
  list-style: square;
  color: rgb(4, 55, 242);
}
.project-container .project-main .introduction img,
.project-container .project-main .goals img,
.project-container .project-main .governance img,
.project-container .project-main .objectives img {
  display: block;
  margin: 2rem auto;
}
.project-container .project-main .imageFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin: 0 auto;
}
@media screen and (max-width: 320px) {
  .project-container .project-main .imageFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.project-container .project-main .imageFlex img {
  height: 350px;
  width: 400px;
}
@media screen and (max-width: 768px) {
  .project-container .project-main .imageFlex img {
    height: 300px;
    width: 280px;
  }
}
@media screen and (max-width: 568px) {
  .project-container .project-main .imageFlex img {
    height: 230px;
    width: 230px;
  }
}
@media screen and (max-width: 320px) {
  .project-container .project-main .imageFlex img {
    height: 200px;
    width: 80%;
  }
}
.project-container .project-main figure {
  margin-bottom: 1.5rem;
}
.project-container .project-main figure img {
  height: 400px;
}
@media screen and (max-width: 768px) {
  .project-container .project-main figure img {
    height: 300px;
    width: 350px;
  }
}
@media screen and (max-width: 320px) {
  .project-container .project-main figure img {
    height: 200px;
    width: 85%;
  }
}
.project-container .project-main figure figcaption {
  font-family: cursive;
  margin-top: -30px;
  text-align: center;
  color: black;
  font-size: 0.8em;
}
@media screen and (max-width: 320px) {
  .project-container .project-main figure figcaption {
    line-height: 1.2rem;
  }
}/*# sourceMappingURL=project.css.map */