@import "../../settings";
@import "../../layouts/nav";
@import "../../layouts/header";
@import "../../layouts/footer";
@import "../../components/buttons";

@media screen and (max-width: 3680px) {
  nav {
    overflow: hidden;
  }
}

@include headerContainerFormat;

.header-container {
  background: url(../../../images/delagation-serialone.jpg) center/cover
    no-repeat;

  @media screen and (max-width: 728px) {
    overflow: hidden;
  }
}

.people-intro {
  text-align: center;
  margin: 6rem 0;

  @media screen and (max-width: 728px) {
    margin: 4rem 0;
  }
  @media screen and (max-width: 320px) {
    margin: 2rem 0;
  }

  h4 {
    padding-bottom: 0.8rem;
    font-weight: 200;
    color: rgb(122, 122, 125);
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 200;

    @media screen and (max-width: 728px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 320px) {
      font-size: 1.5rem;
    }
  }
}

.persons {
  width: 70%;
  @media screen and (max-width: 728px) {
    width: 90%;
  }

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  margin: 0 auto;

  @media screen and (max-width: 728px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 320px) {
    grid-template-columns: 1fr;
  }
}

.person {
  .person-image {
    height: 450px;

    @media screen and (max-width: 728px) {
      height: 320px;
    }
    @media screen and (max-width: 728px) {
      height: 280px;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  .person-footer {
    margin: 2rem 0;
    text-align: center;

    h4 {
      color: black;
      font-size: 1.5rem;
      font-weight: 300;

      @media screen and (max-width: 728px) {
        font-size: 1.3rem;
      }
    }

    h2 {
      color: rgb(122, 122, 125);
      margin: 1rem 0;
      font-size: 1.2rem;
      font-weight: 100;
      @media screen and (max-width: 728px) {
        font-size: 1rem;
      }
    }
  }
}
