@font-face {
  font-family: "allura";
  src: url("../fonts/Allura/Allura-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: Verdana, Arial;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  nav {
    overflow: hidden;
  }
}
nav h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 15vh;
  margin: 0 auto;
}
nav .nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
nav .nav-list ul li {
  margin-left: 20px;
}
nav .nav-list ul li:first-child {
  color: blue;
}
nav .nav-list ul li a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-weight: bold;
  color: blue;
}
@media screen and (max-width: 768px) {
  nav .nav-list li {
    margin-left: 5px;
    font-size: 0.8rem;
    text-align: center;
  }
  nav .nav-list h2 {
    font-size: 1rem;
  }
}
nav h2 {
  font-weight: bold;
  font-family: "allura";
}
nav i {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -200px;
}
@media screen and (max-width: 768px) {
  nav #cont {
    display: none;
  }
}

footer {
  height: 465px;
  width: 95%;
  background-color: rgb(245, 245, 245);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
}
footer h2 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  footer h2 {
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
}
footer p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  line-height: 30px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  footer p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
footer .partner {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  footer .partner {
    display: grid;
    grid-template-columns: 20% 80%;
  }
}
@media screen and (max-width: 568px) {
  footer .partner {
    display: grid;
    grid-template-columns: 30% 70%;
  }
}
footer .partner h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  footer .partner .img-foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (max-width: 568px) {
  footer .partner .img-foot {
    display: grid;
    gap: 10px;
  }
}
footer .partner .img-foot img {
  margin-right: 15px;
  width: 80px;
  height: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 568px) {
  footer .partner .img-foot img {
    width: 50px;
    height: 50px;
  }
}
footer .partner .img-foot img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  footer .partner .img-foot img:hover {
    width: 40px;
    height: 40px;
  }
}
footer .copyright {
  background: rgb(245, 245, 245);
  color: black;
  width: 100%;
  text-align: center;
}
footer .copyright .footer-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.5rem;
  width: 20%;
  margin: 10px auto;
  padding: 5px;
  background: rgb(204, 202, 201);
  border-radius: 1rem;
}
@media screen and (max-width: 768px) {
  footer .copyright .footer-logos {
    font-size: 1rem;
  }
}
@media screen and (max-width: 568px) {
  footer .copyright .footer-logos {
    font-size: 1rem;
    width: 40%;
  }
}
footer .copyright .footer-logos i:hover {
  color: rgb(4, 55, 242);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
footer .copyright .copyright-text {
  background: rgb(204, 202, 201);
  padding: 5px;
}
@media screen and (max-width: 568px) {
  footer .copyright .copyright-text {
    font-size: 0.8rem;
  }
}

button {
  padding: 15px;
  text-transform: uppercase;
  color: white;
  background-color: rgb(4, 55, 242);
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
@media screen and (max-width: 768px) {
  button {
    font-size: 0.5rem;
    padding: 10px;
  }
}

@media screen and (max-width: 3680px) {
  nav {
    overflow: hidden;
  }
}
.header-container {
  width: 95%;
  background: url(../../../images/focal-point.jpg) center/cover no-repeat;
  background-position: 35% 80%;
  min-height: 250px;
  height: 400px;
  max-height: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Verdana;
}
@media screen and (max-width: 320px) {
  .header-container {
    min-height: 300px;
    height: 450px;
    max-height: 500px;
  }
}
@media screen and (max-width: 728px) {
  .header-container {
    min-height: 300px;
    height: 350px;
    max-height: 500px;
  }
}

.header-content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.header-content h1 {
  text-transform: uppercase;
  font-size: 5rem;
  word-spacing: 5px;
  text-align: center;
  color: white;
}
@media screen and (max-width: 768px) {
  .header-content h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 568px) {
  .header-content h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 320px) {
  .header-content h1 {
    font-size: 1.8rem;
  }
}
.header-content p {
  margin: 50px 0;
  color: rgb(248, 239, 239);
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .header-content p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 568px) {
  .header-content p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  .header-content p {
    font-size: 1.3rem;
  }
}

.header-container {
  background: url(../../../images/delagation-serialone.jpg) center/cover no-repeat;
}
@media screen and (max-width: 728px) {
  .header-container {
    overflow: hidden;
  }
}

.people-intro {
  text-align: center;
  margin: 6rem 0;
}
@media screen and (max-width: 728px) {
  .people-intro {
    margin: 4rem 0;
  }
}
@media screen and (max-width: 320px) {
  .people-intro {
    margin: 2rem 0;
  }
}
.people-intro h4 {
  padding-bottom: 0.8rem;
  font-weight: 200;
  color: rgb(122, 122, 125);
  text-transform: uppercase;
  font-size: 0.9rem;
}
.people-intro h2 {
  font-size: 2.5rem;
  font-weight: 200;
}
@media screen and (max-width: 728px) {
  .people-intro h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 320px) {
  .people-intro h2 {
    font-size: 1.5rem;
  }
}

.persons {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  margin: 0 auto;
}
@media screen and (max-width: 728px) {
  .persons {
    width: 90%;
  }
}
@media screen and (max-width: 728px) {
  .persons {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 320px) {
  .persons {
    grid-template-columns: 1fr;
  }
}

.person .person-image {
  height: 450px;
}
@media screen and (max-width: 728px) {
  .person .person-image {
    height: 320px;
  }
}
@media screen and (max-width: 728px) {
  .person .person-image {
    height: 280px;
  }
}
.person .person-image img {
  height: 100%;
  width: 100%;
}
.person .person-footer {
  margin: 2rem 0;
  text-align: center;
}
.person .person-footer h4 {
  color: black;
  font-size: 1.5rem;
  font-weight: 300;
}
@media screen and (max-width: 728px) {
  .person .person-footer h4 {
    font-size: 1.3rem;
  }
}
.person .person-footer h2 {
  color: rgb(122, 122, 125);
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 100;
}
@media screen and (max-width: 728px) {
  .person .person-footer h2 {
    font-size: 1rem;
  }
}/*# sourceMappingURL=become.css.map */