@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: Verdana, Arial;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 20vh;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  nav .nav-list li {
    margin-left: 5px;
    font-size: 0.8rem;
    text-align: center;
  }
  nav h2 {
    font-size: 1.2rem;
  }
}
nav .nav-list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}
nav .nav-list ul li {
  margin-left: 20px;
}
nav .nav-list ul li:first-child {
  color: blue;
}
nav .nav-list ul li a:hover {
  transition: 0.3s;
  cursor: pointer;
  font-weight: bold;
  color: blue;
}
nav h2 {
  font-family: "allura";
  font-weight: bold;
}
nav i {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -200px;
}
@media screen and (max-width: 768px) {
  nav #cont {
    display: none;
  }
}

button {
  padding: 15px;
  text-transform: uppercase;
  color: white;
  background-color: blue;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  transform: scale(0.5);
}

footer {
  height: 400px;
  width: 95%;
  background-color: rgba(245, 245, 220, 0.589);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer h2 {
  font-size: 30px;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
footer p {
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 50px;
  line-height: 30px;
  text-align: center;
}

.container {
  width: 95%;
  margin: 0 auto;
}
.container .slider {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: -1000;
}
.container .slider .sliders {
  width: 400%;
  animation: glisse 10s infinite;
}
.container .slider .sliders .slide {
  float: left;
}
@keyframes glisse {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1280px);
  }
  45% {
    transform: translateX(-1280px);
  }
  50% {
    transform: translateX(-2560px);
  }
  65% {
    transform: translateX(-2560px);
  }
  75% {
    transform: translateX(-3840px);
  }
  95% {
    transform: translateX(-3840px);
  }
  100% {
    transform: translateX(0);
  }
}
.container .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 400px;
  left: 100px;
  color: white;
}
.container .text h1 {
  text-transform: uppercase;
  font-size: 5rem;
  word-spacing: 5px;
  text-align: center;
  color: white;
}
.container .text p {
  margin: 50px 0;
  color: white;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .container .text {
    left: 50px;
  }
  .container .text h1 {
    font-size: 2rem;
    word-spacing: 1px;
  }
  .container .text .but {
    display: block;
  }
}
.container .para {
  margin: 50px auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 150px;
  text-align: center;
}
.container .para h3 {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.5);
}
.container .para p {
  margin-top: 20px;
  font-size: 1.5rem;
  line-height: 2rem;
  word-spacing: 3px;
}
.container .about {
  display: grid;
  grid-template-columns: 40% 60%;
}
.container .about .test-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .about .test-about h5 {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}
.container .about .test-about h4 {
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 20px;
}
.container .about .test-about p {
  text-align: left;
  margin-bottom: 50px;
  line-height: 1.5rem;
}
.container .about .image {
  margin-left: 50px;
}
.container .about .image img {
  height: 500px;
  width: 100%;
}
.container .team {
  display: grid;
  grid-template-columns: 55% 45%;
  margin-top: 5rem;
}
.container .team img {
  height: 500px;
  width: 100%;
}
.container .team .test-team {
  margin: 0 0 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .team .test-team h5 {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}
.container .team .test-team h4 {
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 20px;
}
.container .team .test-team p {
  text-align: left;
  margin-bottom: 50px;
  line-height: 1.5rem;
}
.container .main-buttom {
  margin-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.container .main-buttom .company h5 {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 50px 15px 15px 15px;
}
.container .main-buttom .company h3 {
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
}
.container .main-buttom .main-but-contain {
  display: flex;
  justify-content: space-between;
  margin: 5rem auto;
  width: 80%;
}
.container .main-buttom .main-but-contain h4 {
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.9rem;
  text-align: left;
  padding-right: 15px;
}
.container .main-buttom .main-but-contain h6 {
  margin-bottom: 10px;
}
.container .main-buttom .main-but-contain p {
  width: 100%;
  padding-right: 50px;
}/*# sourceMappingURL=index.css.map */