footer{

    height: 465px;
    width: 95%;
    background-color: $color-foot ;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    h2{
        font-size: 3rem;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }
    p{
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin-bottom: 2rem;
        line-height: 30px;
        text-align: center;
    }
    .partner{
        margin-top: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        h5{
            font-size: 1.2rem;
            text-transform: uppercase;
        }
        .img-foot{
            img{
                margin-right: 15px;
                width: 80px;
                height: 80px;
                transition: 0.3s;
                &:hover{
                    transform: scale(1.5);
                }
            }
        }
        
    }
}