nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    margin: 0 auto;

    .nav-list{
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-transform: uppercase; 
           margin: 30px;
           @media screen and (max-width:768px){
            margin: 10px;
        }
            li{
             padding: 20px;
             height: 100%;
             cursor: pointer; 
             @media screen and (max-width:768px){
                padding: 10px;
            }  
            
             &:hover{
                border-bottom: 3px solid blue;
                cursor: pointer; 
             } 
             
             a{
                color: black;
                font-weight: bold;
                font-size: 1.1rem;
                @media screen and (max-width:768px){
                    font-size: 0.8rem;
                }
                @media screen and (max-width:668px){
                    font-size: 0.7rem;
                }
                @media screen and (max-width:320px){
                    font-size: 0.6rem;
                }
                &:hover{
                    color: blue; 
                 }
             } 
                 
            }
        }
    }
    h2{
        font-weight: bold;
        font-family: "allura";
        @media screen and (max-width:768px){
            font-size: 1rem;
        }
    }
    i{
        position: absolute;
        width: 50px;
        height: 50px;
        top: -200px;
    }
    @media screen and (max-width:768px){
        #cont{
           display: none;
        }
    }
    #donate{
        position: fixed;
        top: -100px;
        right: 100px;
    }
}

