$color-body : white;

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    list-style: none;
}

a{
    text-decoration: none;
}


@mixin centerchild{
    display: flex;
    justify-content: center;
    align-items: center;
}